@import '../abstracts/variables.scss';

.container {
    display: flex;
}

.button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-dark;
    border-top: 1px solid $primary-dark;
    border-bottom: 1px solid $primary-dark;
    border-right: 1px solid $primary-dark;
}

.button:hover {
    cursor: pointer;
}

.button_start {
    border-left: 1px solid $primary-dark;
    border-radius: 5px 0 0 5px;
}

.button_end {
    border-radius: 0 5px 5px 0;
}

.button_current {
    background: $accent;
}

.page_number {
    font-size: 1.25rem;
    font-weight: 500;
}

.icon {
    height: 1.25rem;
    width: 1.25rem;
}