/* 
Screen breakpoints.
*/
$screen-xs: 400px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

/* 
Colors
*/

// $primary-dark: #212226;
// $primary: #3C3D40;
// $neutral-light: #D7D7D9;
// $secondary-dark: #666A73;
// $secondary-light: #9FA3A6;

$primary-dark: #012E40;
$primary: #026773;
// $neutral-light: #F2E3D5;
$neutral-light: #F5F5F5;
$secondary-dark: #024959;
$secondary-light: #3CA6A6;
// $accent: #FF4F00;
$accent: #E25822;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;