@import '../abstracts/variables.scss';

.sub_nav {
    position: sticky;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    list-style: none;
    background: $neutral-light;
}

.sub_nav_link {
    font-size: 1rem;
    color: $accent;
    font-weight: 600;
}

.sub_nav_link:hover {
    border-bottom: 2px solid $accent;
}

.btn {
    margin-top: 20px;
}