@import "../abstracts/variables.scss";

.main {
    padding-bottom: 40px;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: $screen-lg;
}

.short_stories_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.genre {
    align-self: flex-start;
}